body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
}
header{
background:black;
color:white;
padding:20px;
}
.box{
background:white;
padding:20px;
margin:20px;
}
input,button{
padding:10px;
margin:5px;
width:80%;
}
button{
background:black;
color:white;
border:none;
cursor:pointer;
}
.admin{
display:block;
margin:20px;
}
footer{
margin-top:40px;
font-size:14px;
}